.interna-about {
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
}

.missao-about {
    padding-top: 60px;
}

.missao-about p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
}

.missao-about ul li {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}

.foto-equipe {
    padding-top: 20px;
}